<div class="cartao"> 
  <p class="cartao__titulo">Fase de Grupos (A) - 1º Rodada</p> 
  <p class="cartao__subtitulo">DOM 20/11/2022 - AGORA</p> 
  <div class="cartao__resultado"> 
    <div class="cartao__pais"> 
      <img class="mini-flag" src="https://s.sde.globo.com/media/organizations/2019/09/06/Catar.svg"> 
      <p class="cartao__texto">Catar</p> 
    </div> 
    <div class="cartao__placar"> 
      <p>0(0)</p> 
    </div> 
  </div> 
  <div class="cartao__separador"></div> 
  <div class="cartao__resultado"> 
    <div class="cartao__pais"> 
      <img class="mini-flag" src="https://s.sde.globo.com/media/organizations/2019/09/16/Cro%C3%A1cia.svg"> 
      <p class="cartao__texto">Croácia</p> 
    </div> 
    <div class="cartao__placar"> 
      <p>0(2)</p> 
    </div> 
  </div> 
  <div style="font-size:16px; text-align:center; margin-top:8px;"> 
    <p class="cartao__palpites">Meu Palpite:</p> 
    <p class="cartao__palpites" style="font-weight:bold"> 2 x 2 | V.Pên.: CAT</p> 
  </div>
  <div class="component-holder ng-scope" data-component="crn-button" id="crn-button-820534">
  <button class="btn k-button btn-block btn-info" ng-click="" xattr-fullsize="btn-block" xattr-theme="btn-info" xattr-disabled=""><i class="" icon-theme=""></i> <span class="" text-theme="">Ver Detalhes</span></button>
</div>
 
 
 
</div>