<div>
    <h1 class="title-home text-left" xattr-position="text-left" xattr-type="h1" data-component="crn-text-component" id="crn-text-component-1027440">Regras</h1>
    <ul class="rules-list">
        <li>
            <span class="title-rule">Acertar placar exato <div class="rule-point">+10 pts</div></span>
            <span>Exemplo:</span>
            <span>Seu palpite: 3 x 2 | Partida 3x2</span>
        </li>
        
        <li>
            <span class="title-rule">Acertar ganhador dos penâltis <div class="rule-point">+6 pts</div></span>
            <span>Exemplo:</span>
            <span>Seu palpite: 0 x 0 V.Pên: Time A | Partida 2x2 V.Pên: Time A</span>
        </li>
        
        <li>
            <span class="title-rule">Acertar resultado<div class="rule-point">+5 pts</div></span>
            <span>Exemplo:</span>
            <span>Acertar vitória, empate ou derrota</span>
        </li>
        
        <li>
            <span class="title-rule">Acertar gols do time mandante <div class="rule-point">+4 pts</div></span>
            <span>Exemplo:</span>
            <span>Seu palpite: 4 x 2 | Partida 4x0</span>
        </li>
        
        <li>
            <span class="title-rule">Acertar gols do time visitante <div class="rule-point">+4 pts</div></span>
            <span>Exemplo:</span>
            <span>Seu palpite: 4 x 2 | Partida 3x2</span>
        </li>
        
        <li>
            <span class="title-rule">Acertar final<div class="rule-point">+50 pts</div></span>
            <span>Exemplo:</span>
            <span>Acertar as 2 seleções que disputarão na final</span>
        </li>
        
        <li>
            <span class="title-rule">Acertar ganhador da competição<div class="rule-point">+50 pts</div></span>
            <span>Exemplo:</span>
            <span>Acertar o ganhador da competição</span>
        </li>
        
        <li>
            <span class="title-rule">Cada aposta <div class="rule-point">+1 pts</div></span>
            <span>Exemplo:</span>
            <span>Você ganha um ponto a cada palpite dado</span>
        </li>
    </ul>
    <p class="obs-rule">Obs: Os pontos são cumulativos, em um único palpite você pode ganhar até 30 pontos.</p>
    <p class="obs-rule">Os palpites podem ser lançados até 1 hora antes do início da cada jogo.</p>
    <p class="obs-rule">É possível palpitar a final e ganhador, na tela "Minha Final", até 08/12/2022 às 20:00 horas.</p>
</div>