<ion-view class="pane"> 
  <ion-content data-component="crn-ion-content" class="scroll-content"> 
    <div class="cartao"> 
      <p class="cartao__titulo">Fase de Grupos (A) - 1º Rodada</p> 
      <p class="cartao__subtitulo">DOM 20/11/2022 - AGORA</p> 
      <div class="cartao__resultado"> 
        <div class="cartao__pais"> 
          <img class="mini-flag" src="https://s.sde.globo.com/media/organizations/2019/09/06/Catar.svg"> 
          <p class="cartao__texto">Catar</p> 
        </div> 
        <div class="cartao__placar"> 
          <p>0(0)</p> 
        </div> 
      </div> 
      <div class="cartao__separador"></div> 
      <div class="cartao__resultado"> 
        <div class="cartao__pais"> 
          <img class="mini-flag" src="https://s.sde.globo.com/media/organizations/2019/09/16/Cro%C3%A1cia.svg"> 
          <p class="cartao__texto">Croácia</p> 
        </div> 
        <div class="cartao__placar"> 
          <p>0(2)</p> 
        </div> 
      </div> 
      <div style="font-size:16px; text-align:center; margin-top:8px;"> 
        <p class="cartao__palpites">Meu Palpite:</p>
        <p class="cartao__palpites" style="font-weight:bold"> 2 x 2 | V.Pên.: CAT</p> 
      </div> 
      
      <button class="button button-block filled button-default button-medium botao_detalhes" style=" border: 2px solid #21294F !important;background: white !important;" type="submit" xattr-fullsize="button-block" xattr-theme="button-default" ng-click="" data-component="crn-button" xattr-size="button-medium" xattr-type="filled" id="crn-button-622999"><i class="" xattr-icon-theme=""></i> 
      <span style="color: #20284E !important">Ver Detalhes</span></button> 
      
    </div> 
  </ion-content>
</ion-view>