@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cartao{
    display:flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 6px #0000000F;
    border: 1px transparent;
    margin: 0 10px;
    height:260px;
    font-family: 'Roboto' !important;
}

.cartao__titulo{
    font-size: 16px;
    width:100%;
    text-align: center;
    margin-top:8px;
}

.cartao__palpites{
    font-size: 16px;
    text-align: center;
    margin-top:8px;
    display: contents;
}

.cartao__subtitulo{
    font-size: 12px;
    text-align:center;
    font-weight: bold;
}

.cartao__separador{
    border-top: 1px solid #707070;
    opacity:0.2;
    margin: 20px 10px 20px 65px;
}

.cartao__resultado{
    display: flex;
    flex-direction: row;
    width: 100%;
 
}

.mini-flag{
    width:31px;
    height:21px;
    border: 1px solid #939598 !important;
}

.cartao__texto{
    margin-left:5px;
    opacity: 0.75;
    color: black;
    font-size: 16px;
    font-weight:bold;
   
}

.cartao__pais {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 75%;
}



